# PostgreSQL (Neon Tech / Cloud Postgres) Connection URI
POSTGRES_URL=postgresql://neondb_owner:<password>@ep-cool-block-atydsn8b.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require

# Admin Master Password for /admin CMS Portal
ADMIN_PASSWORD=admin123

# MongoDB Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio?retryWrites=true&w=majority
